*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ff87dd;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}
h1 {
  text-align: center;
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 0;
}
.finalScore {
  text-align: center;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 0; /*In Javascript this needs to appear when timeUp is True*/
  display: none;
}
.show {
  display: block;
}
.instructions {
  text-align: center;
  font-size: 2rem;
}
.controls {
  margin: 20px 5px;
  text-align: center;
  width: 100%;
  z-index: 999;
  height: 20%;
}
.startButton {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.score {
  background: #ff87dd47(255, 65, 65, 0.662);
  display: flex;
  justify-content: center;
  font-size: 5rem;
}
.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.hole {
  background: url(cartoonBush.png) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 250px;
  position: relative;
  width: 100%;
  display: block; /* Ensure the image behaves as a block element */
  margin: 0 auto;
  flex: 1 0 33.33%;
  overflow: hidden;
  top: 50px;
  z-index: 5;
}
.instructionsButton {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 2rem;
  z-index: 1000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: "Sans-serif";
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.hole:after {
  background: url(cartoonBush.png) bottom center no-repeat;
    bottom: center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: relative;
  top: 100%;
  width: 100%;
  display: block; /* Ensure the image behaves as a block element */
  margin: 0 auto;
}
.rose {
  background: url(cartoonRose.png) bottom center no-repeat;
  bottom: center no-repeat;
  background-size: 60%;
  position: relative;
  top: 110%;
  width: 100%;
  height: 150%;
  transition: all 0.4s;
}
.thorn {
  background: url(cartoonThorn.png) bottom center no-repeat;
    bottom: center no-repeat;
  background-size: 60%;
  position: relative;
  top: 110%;
  width: 100%;
  height: 150%;
  transition: all 0.4s;
}
.hole.up-rose .rose {
  top: -40%;
}
.hole.up-thorn .thorn {
  top: -170%;
}
/* Popup styles */
.popupLeaderboard {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
}

.popup-contentLeaderboard {
  text-align: center;
}

.closeLeaderboard {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeLeaderboard:hover,
.closeLeaderboard:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.leaderboardButton {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}